<!DOCTYPE html>
<html lang="en">
<body>

	<div class="container" ng-controller="aboutController">
		
		<div class="page-header">
			 {{controller.name}}
			<h1>
				About <small>What we aim for!</small>
			</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">About Us</div>
			<div class="panel-body">
				<p>My tutorial on how to use bootstrap to create a responsive
					website.</p>
			</div>
		</div>
		<hr>

	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').addClass("active");
		});
	</script>
</body>
</html>