<!DOCTYPE html>
<html lang="en">
<body>

	<div class="container" ng-controller="aboutController">
		
		<div class="page-header">
			 {{controller.name}}
			<h1>
				About <small>What we aim for!</small>
			</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">About Us</div>
			<div class="panel-body">
				<p>My tutorial on how to use bootstrap to create a responsive
					website.</p>
			</div>
		</div>
		<div class="user_data">
            <table class="table">
            <ul>
                <p>user_id: <%= user[0] %></p>
            </ul>
            <ul>
                <p>user_name: <%= user[0].user_name %></p>
            </ul>
            <ul>
                <p>_id: <%= user[0]._id %></p>
            </ul>
            </table>
        </div>
		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').addClass("active");
		});
	</script>
</body>
</html>