 <!-- define angular app -->
    <html ng-app="jsprojectApp", ng-controller="mainController">
    <head>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

      <!-- SPELLS -->
      <!-- load angular via CDN -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
      <script src="../js/controllers/main.controller.js"></script> <!-- load up our controller -->
      <script src="../js/services/service.js"></script> <!-- load up our controller -->
      <script src="../core.js"></script>     
       <script src="../routes.js"></script>   
    </head>

    <!-- define angular controller -->
    <body ng-controller="mainController">


    <!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Angular Routing Example</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                </ul>
            </div>
            </nav>
        </header>

        
        <div class="container" ng-controler="mainController">
                        
                          <h2>My todos</h2>
                         <form role="form" ng-submit="addTodo()">
                <div class="row">
                  <div class="input-group">
                    <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
                    <span class="input-group-btn">
                      <input type="submit" class="btn btn-primary" value="Add">
                    </span>
                  </div>
                </div>
              </form>


                <!-- Todos list -->
<div ui-sortable ng-model="todos">
  <p class="input-group" ng-repeat="todo in todos" style="padding:5px 10px; cursor: move;">
    <input type="text" ng-model="todo" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
    </span>
  </p>
</div>
        </div>
        <div>{{data}}</div>
    
        
       