<!DOCTYPE html>
<html ng-app="appname">
<body>
<script>
    /*
    var socket = io.connect('http://jsproject.herokuapp.com');
    var tmp;
    socket.on('connect',function() {
        console.log('from Client_ard: Client has connected to the server!!');
    });
    var myrand = function(){
        return Math.floor((Math.random() * 100) + 1);
    };
    socket.on('serialData', function(data){
        console.log("data: data goes here: ",data.message);
        var tmp = data.message;
        var socketdiv = $("#serialData").find('p');
        socketdiv.html(tmp);
        //socket.emit('myevent', { randnum: myrand()});
        socket.emit('myevent',function(data){
            setTimeout(1000);
        });
    });
    socket.on('serverReq', function(data){
        console.log('data from server:', data);
    });

    */


</script>



<div class="container" ng-controller = "arduinoController">
   
    <hr> 
    
    <div class="row">
        
        <div class="container col-md-4">
           <h2>Temperature</h2>
           <hr> 
            <div class="de">
                <div class="den">
                  <div class="dene">
                    <div class="denem">
                      <div class="deneme">
                        {{temp0}}<span>.{{temp1}}</span><strong>&deg;</strong><span>C</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4">
           <h2>Humidity</h2>
           <hr> 
            <div class="de">
                <div class="den">
                  <div class="dene">
                    <div class="denem">
                      <div class="deneme">
                        {{temp0}}<span>.{{temp1}}</span><strong>&deg;</strong><span>C</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="container col-md-4">
           <h2>Light Intensity</h2>
           <hr> 
            <div class="de">
                <div class="den">
                  <div class="dene">
                    <div class="denem">
                      <div class="deneme">
                        {{temp0}}<span>.{{temp1}}</span><strong>&deg;</strong><span>C</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
    </div>


</div>



<hr>

    <div class="page-header">
        <h2>{{controller.name}}</h2>
         <h2>socket reponse from server</h2>
         <!--<p>Temp </p>{{temp}}-->
    </div>

 <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                Arduino <small>One of the collest electronic prototyping platforms:D</small>
            </h1>
            <h2>This is my socket.io test file</h2>

        </div>
        <div class="panel-body">
            <p>My tutorial on how to use bootstrap to create a responsive
                website and display data from Arduino board:D.</p>
        </div>
    </div>
    
    <div class="user_data">
        <div id="serialData">
            <p></p>
        </div>

<div ui-view></div>

<!-- /container -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#about').addClass("active");
    });
</script>
</body>
</html>