<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
<% include navbar %>

<script>
    var socket = io.connect('http://jsproject.herokuapp.com');
    var tmp;
    socket.on('connect',function() {
        console.log('from Client_ard: Client has connected to the server!!');
    });
    var myrand = function(){
        return Math.floor((Math.random() * 100) + 1);
    };
    socket.on('serialData', function(data){
        console.log("data: data goes here: ",data.message);
        var tmp = data.message;
        var socketdiv = $("#serialData").find('p');
        socketdiv.html(tmp);
        //socket.emit('myevent', { randnum: myrand()});
        socket.emit('myevent',function(data){
            setTimeout(1000);
        });
    });
    socket.on('serverReq', function(data){
        console.log('data from server:', data);
    });




</script>

<div class="container">
    <div class="page-header">

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>
                Arduino <small>One of the collest electronic prototyping platforms:D</small>
            </h1>
            <h2>This is my socket.io test file</h2>

        </div>
        <div class="panel-body">
            <p>My tutorial on how to use bootstrap to create a responsive
                website and display data from Arduino board:D.</p>
        </div>
    </div>
    <div class="user_data">
        <div id="serialData">
            <p></p>
        </div>



        <p>Arduino serial data: <b><%= serial_data.data %></b></p>
        <p>Arduino temperature data: <b><%= temperature %></b></p>
        <p>Arduino internal temp sensor data: <b><%= internal_sensor.data %></b></p>
    </div>
    <hr>

    <% include footer %>
</div>
<!-- /container -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#about').addClass("active");
    });
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>