<!DOCTYPE html>
<html ng-app="appname">
    
<% include header %>


<hr>
<body ng-controller="mainController">
    <% include navbar %>


     <div ui-view></div>

    <div class="container">
        <% include content %>
        
        
        <hr>


        <% include footer %>
    </div>
    <!-- /container -->




    <script type="text/javascript">
                //$(document).ready(function() {
                //    $('#home').addClass("active");
                //});
                var socket = io.connect('/');

                $('.btn-toggle').click(function(state) {
                    var btn = $(this).find('#on');
                    $(this).find('.btn').toggleClass('active');

                    var state = btn.hasClass('active');
                    console.log(state)
                    socket.emit('stateChanged', {state: state});


                    if ($(this).find('.btn-primary').size()>0) {
                        $(this).find('.btn').toggleClass('btn-primary');
                    }
                    if ($(this).find('.btn-danger').size()>0) {
                        $(this).find('.btn').toggleClass('btn-danger');
                    }
                    if ($(this).find('.btn-success').size()>0) {
                        $(this).find('.btn').toggleClass('btn-success');
                    }
                    if ($(this).find('.btn-info').size()>0) {
                        $(this).find('.btn').toggleClass('btn-info');
                    }

                    $(this).find('.btn').toggleClass('btn-default');


                });



                $('form').submit(function(){
                    console.log($(this["options"]).val());
                    alert($(this["options"]).val());
                    return false;
                });



        $( "#click" ).click(function(state) {
            console.log('clicked');
            socket.emit('stateChanged', {state: 'clicked'});
        });


        /*
        socket.on('connect',function() {
            console.log('from index_page: Client has connected to the server!');

            socket.emit('client',{client:'client_data'});

            socket.on('arduData', function(data){
                console.log('arduino_data in web.js:', data);
                socket.emit('index',data);
                socket.emit('updateState',{state: 'state'});

            });

            var myrand = function(){
                setTimeout(function(){
                    return Math.floor((Math.random() * 100) + 1);
                },500);


            };

        });
        */
        /*
         socket.on('updateState',function(data){
         console.log("server request:", data);// server console
         //socket.emit('ServerGotArduinoData');
         socket.emit('updateStateD',{state: 'state'});
         });
         */




        /*
         socket.on('arduinoData', function(data){
         console.log(data);
         var socketdiv = $("#socket");
         socketdiv.html(tmp);

         });
         */
        /*
         socket.on('serverReq', function(data){
         console.log('data from server:', data);
         });
         */

    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>