<!DOCTYPE html>
<html>
<% include header %>

<script>

    var socket = io.connect('/');
    var tmp;
    socket.on('connect',function() {
        console.log('from index_page: Client has connected to the server!');
        socket.emit('stateChanged',{state: 'state'});


    });
    socket.on('updateData',function(data){
        //socket.emit();
    });

    socket.on('updateState',function(data){
        console.log("server request:", data);// server console
        //socket.emit('ServerGotArduinoData');
        socket.emit('updateStateD',{state: 'state'});
    });

    socket.on('arduData', function(data){
        console.log('arduino_data:', data);
        socket.emit('stateChanged',{state: 'state'});
    });

    var myrand = function(){
        setTimeout(function(){
            return Math.floor((Math.random() * 100) + 1);
        },500);


    };


    /*
    socket.on('arduinoData', function(data){
            console.log(data);
            var socketdiv = $("#socket");
            socketdiv.html(tmp);

    });
    */
    /*
    socket.on('serverReq', function(data){
       console.log('data from server:', data);
    });
    */

</script>
<hr>
<body>
    <% include navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, Heroku and Node :D</h1>
            <div>
                <p>This is a template for a simple marketing or informational
                    website. It includes a large callout called a jumbotron and three
                    supporting pieces of content. Use it as a starting point to create
                    something more unique.</p>
                <p>
            </div>
            <div id="socket">

            </div>

                <a class="btn btn-primary btn-lg" role="button">Learn more
                    &raquo;</a>
        </div>
    </div>

    <div class="container">
        <% include content %>
        <hr>


        <% include footer %>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>