<!DOCTYPE html>
<html ng-app>
<% include header %>
<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
<script>
    var socket = io.connect('http://jsproject.herokuapp.com');

    socket.on('connect',function() {
        console.log('Client has connected to the server!');
        socket.emit("on connect from clinet");
    });
    socket.on('message', function(data){
        console.log(data.message);
        socket.emit("on message from client");
        socket.emit('myevent', { my: 'data' });
    });

    /*var socket = io.connect('http://localhost:3000');

     */
</script>
<hr>
<body>
    <% include navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, Heroku and Node :D</h1>
            <div ng-controller = "arduinoController">
                <p>This is a template for a simple marketing or informational
                    website. It includes a large callout called a jumbotron and three
                    supporting pieces of content. Use it as a starting point to create
                    something more unique.</p>
                <p>

            </div>

                <a class="btn btn-primary btn-lg" role="button">Learn more
                    &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <% include content %>
        <hr>


        <% include footer %>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>