<!DOCTYPE html>
<html lang="en" ng-app="appname">
<body>
    
<header>   
    <% include header %>
</header> 


<div class="container" ng-controller="loginController">
    
    <hr>
    
    
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login to JSproject</h1>


    <!-- LOGIN FORM -->
    <form action="/api/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" value="Submit "class="btn btn-warning btn-lg">Login</button>
    </form>

    <hr>
    <p>Or Register with:</p>

        <a href="/api/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
    <p>Need an account? <a href="/api/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>

</body>
</html>

