<!-- views/pages/about.ejs -->
 <hr>
  <hr>

 <div class="container" ng-controller="userController">
   
  <div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchFish }}</p>
  </div>
  
  
    <!-- FORM -->
    <!-- pass in the variable if our form is valid or invalid -->
    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->


    <!-- USERNAME -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
        <label>Username</label>
        <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
        <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
        <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
    </div>
    
    
    <!-- PASS -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>
    </div>
    
    
    <!-- ROLE -->
    <div class="form-group" ng-class="{ 'has-error' : userForm.role.$invalid && !userForm.role.$pristine }">
        <label>Role [admin, user]</label>
        <input type="text" name="role" class="form-control" ng-model="user.role" ng-minlength="3" ng-maxlength="8">
        <p ng-show="userForm.role.$error.minlength" class="help-block">role is too short.</p>
        <p ng-show="userForm.role.$error.maxlength" class="help-block">role is too long.</p>
    </div>
    

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

        
</form>
    
    
    
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchFish">

      </div>      
    </div>
  </form>
  
<table st-table="rowCollection" class="table table-striped">
      	<thead>
      	<tr>
      		<td>
      		     <a href="" ng-click="sortType = '_id'; sortReverse = !sortReverse">
      		        id
      		        <span ng-show="sortType == '_id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == '_id' && sortReverse" class="fa fa-caret-up"></span>
      		    </a>
      		</td>
      		<td>
      		    <a href="" ng-click="sortType = 'username'; sortReverse = !sortReverse">
                    username
                    <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
                </a>        
      		</td>
      		<td>
      		    <a href="" ng-click="sortType = 'password'; sortReverse = !sortReverse">
      		        password
      		        <span ng-show="sortType == 'password' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'password' && sortReverse" class="fa fa-caret-up"></span>
      		    </a>
      		</td>
      		<td>
      		    <a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">
      		        password
      		        <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
      		    </a>
      		</td>
      	</tr>
      	</thead>
      	<tbody>
      	 <tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchFish">
      		<td>{{user._id}}</td>
      		<td>{{user.username}}</td>
      		<td>{{user.password}}</td>
      		<td>{{user.role}}</td>
      		<td>
      		 <button type="button" ng-click="deleteUser(user._id)" class="btn btn-sm btn-danger">
      		        
     					<i class="glyphicon glyphicon-remove-circle">
     					</i>
     					Delete
     				</button>
      		</td>
      	</tr>
      	</tbody>
</table>

 </div>
    